@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,700,900);
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    user-select: none;
}

[v-cloak]{
    display: none;
}

.title-main {
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 20px 0px;
        li {
            button {
                background: inherit;
                cursor: pointer;
                border: none;
            }
            .month {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #828282;
            }
        }
    }
}
.table__item {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    &:not(:last-child) {
        padding: 8px;
    }
}

.switch {
    position: fixed;
    left: 25px;
    top: 25px;
    width: 100%;
    z-index: 10;
    button {
        width: 100px;
        height: 100px;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        display: flex;
        background-color: #B2DAFF;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        @media (max-width: 574.98px) {
            width: 50px;
            height: 50px;
            font-size: 25px
        }
    }
}